* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
}

.banner,
h1 {
  width: 100%;
  background-color: #1A263F;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.tagline {
  text-align: center;
  margin: 0.8em auto;
  border-bottom: solid black 3px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  max-width: 90%;
}

p {
  color: #85929E;
}

form {
  min-width: 90%;
}


input,
select {
  background-color: #DFE1E7;
  margin-bottom: 0.8em;
}

#zipCode {
  width: 50%;
}

fieldset {
  border: none;
  margin: auto 0;
  padding-left: 0;
  padding-right: 0;
}

fieldset input,
select {
  width: 100%;
}

input[type="checkbox"] {
  display: inline-block;
}

textarea {
  background-color: #DFE1E7;
  border: none;
  width: 100%;
  padding: 2.4em;
}

button[type="submit"] {
  background-color: #64C2C1;
  color: #fff;
  width: 100%;
  padding: 1.6em;
}



/*** Flexbox ***/

.container,
form
fieldset {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  justify-content: center;
  margin: 0 auto;
  border-top: solid black 1px;
}

.item {
  flex: 2
}
